{% extends 'base.html.twig' %}
{% block title %}
    Liste
{% endblock %}
{% block body %}
{% set liste = ['Bernard','Jean','Daniel','Patrick']%}
<ul>
{% for personne in liste %}
        <li>{{ personne }}</li>
{% endfor %}
</ul>
{% endblock %}